<%= render "shared/header" %>

<!-- <div>カード情報の変更はこちら</div> -->
<%# 商品一覧 %>
<div class='item-contents'>
  <% if current_user.id == @user.id %>
  <div>
    <%= link_to "ユーザー情報の変更はこちら", edit_user_path(@user.id) %>
  </div>
  <% end %>
  <br><br><br>
  <div><%= @user.nickname %>さんの商品一覧</div>
  <ul class='item-lists'>
    <% if @items.present? %>
        <% @items.each do |item| %>
         <li class='list'>
          <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>

            <% if item.order.present? %>
             <div class='sold-out'>
              <span>Sold Out!!</span>
            </div> 
            <% end %>

          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price %>円<br><%= item.fee.name %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
         </li>
        <% end %>
     <% else %>
      商品がありません
    <% end %>
  </ul>
</div>
<%# /商品一覧 %>

<%= render "shared/footer" %>